In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_excel('resultados_mega.xlsx')
data.head()

,Concurso,Data,bola 1,bola 2,bola 3,bola 4,bola 5,bola 6,sequencia_numeros,sequencial
0,2638,28/09/2023,44,55,54,30,34,9,"[9, 30, 34, 44, 54, 55]",Yes
1,2637,26/09/2023,32,34,10,1,59,2,"[1, 2, 10, 32, 34, 59]",Yes
2,2636,23/09/2023,43,16,5,38,42,48,"[5, 16, 38, 42, 43, 48]",Yes
3,2635,21/09/2023,37,29,6,58,56,11,"[6, 11, 29, 37, 56, 58]",No
4,2634,19/09/2023,56,8,28,48,32,27,"[8, 27, 28, 32, 48, 56]",Yes

In [5]:
data['Data'] = pd.to_datetime(data['Data'], format='%d/%m/%Y')

results_per_year = {}
for year, grup in data.groupby(data['Data'].dt.year):
    results_per_year[year] = grup

year2023 = results_per_year.get(2023)
year2022 = results_per_year.get(2022)
year2021 = results_per_year.get(2021)
year2020 = results_per_year.get(2020)
year2019 = results_per_year.get(2019)
year2018 = results_per_year.get(2018)
year2017 = results_per_year.get(2017)
year2016 = results_per_year.get(2016)
year2015 = results_per_year.get(2015)
year2014 = results_per_year.get(2014)
year2013 = results_per_year.get(2013)
year2012 = results_per_year.get(2012)
year2011 = results_per_year.get(2011)
year2010 = results_per_year.get(2010)
year2009 = results_per_year.get(2009)
year2008 = results_per_year.get(2008)
year2007 = results_per_year.get(2007)
year2006 = results_per_year.get(2006)
year2005 = results_per_year.get(2005)
year2004 = results_per_year.get(2004)
year2003 = results_per_year.get(2003)
year2002 = results_per_year.get(2002)
year2001 = results_per_year.get(2001)
year2000 = results_per_year.get(2000)
year1999 = results_per_year.get(1999)
year1998 = results_per_year.get(1998)
year1997 = results_per_year.get(1997)
year1996 = results_per_year.get(1996)

In [6]:
year1996['sequencial'].value_counts()/ len(year1996['sequencial']) * 100

Yes    53.488372
No     46.511628
Name: sequencial, dtype: float64

In [7]:
year1997['sequencial'].value_counts()/ len(year1997['sequencial']) * 100

No     59.615385
Yes    40.384615
Name: sequencial, dtype: float64

In [8]:
year1998['sequencial'].value_counts()/ len(year1998['sequencial']) * 100

Yes    52.830189
No     47.169811
Name: sequencial, dtype: float64

In [9]:
year1999['sequencial'].value_counts()/ len(year1999['sequencial']) * 100

No     69.230769
Yes    30.769231
Name: sequencial, dtype: float64

In [10]:
year2000['sequencial'].value_counts()/ len(year2000['sequencial']) * 100

No     65.384615
Yes    34.615385
Name: sequencial, dtype: float64

In [11]:
year2001['sequencial'].value_counts()/ len(year2001['sequencial']) * 100

No     50.684932
Yes    49.315068
Name: sequencial, dtype: float64

In [12]:
year2002['sequencial'].value_counts()/ len(year2002['sequencial']) * 100

No     58.0
Yes    42.0
Name: sequencial, dtype: float64

In [13]:
year2003['sequencial'].value_counts()/ len(year2003['sequencial']) * 100

No     55.0
Yes    45.0
Name: sequencial, dtype: float64

In [14]:
year2004['sequencial'].value_counts()/ len(year2004['sequencial']) * 100

No     64.705882
Yes    35.294118
Name: sequencial, dtype: float64

In [15]:
year2005['sequencial'].value_counts()/ len(year2005['sequencial']) * 100

No     62.244898
Yes    37.755102
Name: sequencial, dtype: float64

In [16]:
year2006['sequencial'].value_counts()/ len(year2006['sequencial']) * 100

No     56.730769
Yes    43.269231
Name: sequencial, dtype: float64

In [17]:
year2007['sequencial'].value_counts()/ len(year2007['sequencial']) * 100

No     56.862745
Yes    43.137255
Name: sequencial, dtype: float64

In [18]:
year2008['sequencial'].value_counts()/ len(year2008['sequencial']) * 100

No     56.730769
Yes    43.269231
Name: sequencial, dtype: float64

In [19]:
year2009['sequencial'].value_counts()/ len(year2009['sequencial']) * 100

No     60.0
Yes    40.0
Name: sequencial, dtype: float64

In [20]:
year2010['sequencial'].value_counts()/ len(year2010['sequencial']) * 100

No     60.952381
Yes    39.047619
Name: sequencial, dtype: float64

In [21]:
year2011['sequencial'].value_counts()/ len(year2011['sequencial']) * 100

No     51.428571
Yes    48.571429
Name: sequencial, dtype: float64

In [22]:
year2012['sequencial'].value_counts()/ len(year2012['sequencial']) * 100

No     62.857143
Yes    37.142857
Name: sequencial, dtype: float64

In [23]:
year2013['sequencial'].value_counts()/ len(year2013['sequencial']) * 100

No     60.952381
Yes    39.047619
Name: sequencial, dtype: float64

In [24]:
year2014['sequencial'].value_counts()/ len(year2014['sequencial']) * 100

No     58.095238
Yes    41.904762
Name: sequencial, dtype: float64

In [25]:
year2015['sequencial'].value_counts()/ len(year2015['sequencial']) * 100

No     58.181818
Yes    41.818182
Name: sequencial, dtype: float64

In [26]:
year2016['sequencial'].value_counts()/ len(year2016['sequencial']) * 100

No     51.304348
Yes    48.695652
Name: sequencial, dtype: float64

In [27]:
year2017['sequencial'].value_counts()/ len(year2017['sequencial']) * 100

No     58.181818
Yes    41.818182
Name: sequencial, dtype: float64

In [28]:
year2018['sequencial'].value_counts()/ len(year2018['sequencial']) * 100

No     57.272727
Yes    42.727273
Name: sequencial, dtype: float64

In [29]:
year2019['sequencial'].value_counts()/ len(year2019['sequencial']) * 100

No     58.181818
Yes    41.818182
Name: sequencial, dtype: float64

In [30]:
year2020['sequencial'].value_counts()/ len(year2020['sequencial']) * 100

No     56.363636
Yes    43.636364
Name: sequencial, dtype: float64

In [31]:
year2021['sequencial'].value_counts()/ len(year2021['sequencial']) * 100

No     57.272727
Yes    42.727273
Name: sequencial, dtype: float64

In [32]:
year2022['sequencial'].value_counts()/ len(year2022['sequencial']) * 100

No     52.727273
Yes    47.272727
Name: sequencial, dtype: float64

In [33]:
year2023['sequencial'].value_counts()/ len(year2023['sequencial']) * 100

No     62.5
Yes    37.5
Name: sequencial, dtype: float64

In [36]:
import math
# Checking probability
total_numbers = 60

num_sequence = 2

num_sequence_possible = total_numbers - num_sequence + 1

total_combinations = math.comb(total_numbers, num_sequence)

probability = num_sequence_possible / total_combinations

print("Probability of a sequence of 2 numbers:", probability * 100)

Probability of a sequence of 2 numbers: 3.3333333333333335