In [1]:
import numpy as np
import pandas as pd

In [2]:
# The results are available for download at https://asloterias.com.br/download-todos-resultados-mega-sena

In [3]:
data = pd.read_excel('mega_sena_asloterias.xlsx')
data.head()

   Concurso        Data  bola 1  bola 2  bola 3  bola 4  bola 5  bola 6
0      2638  28/09/2023      44      55      54      30      34       9
1      2637  26/09/2023      32      34      10       1      59       2
2      2636  23/09/2023      43      16       5      38      42      48
3      2635  21/09/2023      37      29       6      58      56      11
4      2634  19/09/2023      56       8      28      48      32      27

In [4]:
def has_at_least_two_sequential(nums):
    nums.sort()  
    for i in range(len(nums) - 1):
        if nums[i] + 1 == nums[i + 1]:
            return 'Yes'
    return 'No'

data['sequencia_numeros'] = data[['bola 1', 'bola 2', 'bola 3', 'bola 4', 'bola 5', 'bola 6']].apply(lambda row: ','.join(map(str, row)), axis=1)

data['sequencia_numeros'] = data['sequencia_numeros'].apply(lambda s: list(map(int, s.split(','))))

data['sequencial'] = data['sequencia_numeros'].apply(has_at_least_two_sequential)

data.head()

,Concurso,Data,bola 1,bola 2,bola 3,bola 4,bola 5,bola 6,sequencia_numeros,sequencial
0,2638,28/09/2023,44,55,54,30,34,9,"[9, 30, 34, 44, 54, 55]",Yes
1,2637,26/09/2023,32,34,10,1,59,2,"[1, 2, 10, 32, 34, 59]",Yes
2,2636,23/09/2023,43,16,5,38,42,48,"[5, 16, 38, 42, 43, 48]",Yes
3,2635,21/09/2023,37,29,6,58,56,11,"[6, 11, 29, 37, 56, 58]",No
4,2634,19/09/2023,56,8,28,48,32,27,"[8, 27, 28, 32, 48, 56]",Yes

In [5]:
data['sequencial'].value_counts()

No     1523
Yes    1115
Name: sequencial, dtype: int64

In [6]:
data['sequencial'].value_counts()/ len(data['sequencial']) * 100

No     57.733131
Yes    42.266869
Name: sequencial, dtype: float64

In [7]:
# data.to_excel('resultados_mega.xlsx', index=False)

In [8]:
data['sequencia_numeros'].value_counts()

[9, 30, 34, 44, 54, 55]     1
[17, 33, 37, 50, 55, 59]    1
[2, 11, 12, 14, 22, 39]     1
[21, 32, 37, 52, 53, 60]    1
[17, 41, 42, 44, 45, 60]    1
                           ..
[6, 11, 16, 23, 36, 42]     1
[13, 25, 28, 37, 43, 56]    1
[6, 13, 14, 28, 35, 45]     1
[2, 5, 8, 18, 30, 48]       1
[4, 5, 30, 33, 41, 52]      1
Name: sequencia_numeros, Length: 2638, dtype: int64

In [1]:
from math import comb
   
def calcular_pares_consecutivos(total_numeros):
    return total_numeros - 1
   
def calcular_combinacoes_total(total_numeros, numeros_escolhidos):
    return comb(total_numeros, numeros_escolhidos)

def calcular_combinacoes_sem_par_consecutivo(total_numeros, numeros_escolhidos):
    return comb(total_numeros - numeros_escolhidos + 1, numeros_escolhidos)

def calcular_combinacoes_com_par_consecutivo(total_numeros, numeros_escolhidos):
    combinacoes_sem_consecutivos = calcular_combinacoes_sem_par_consecutivo(total_numeros, numeros_escolhidos)
    combinacoes_total = calcular_combinacoes_total(total_numeros, numeros_escolhidos)
    combinacoes_com_par_consecutivo = combinacoes_total - combinacoes_sem_consecutivos
    return combinacoes_com_par_consecutivo
  
def calcular_probabilidade_consecutivos(total_numeros, numeros_escolhidos):
    combinacoes_com_par_consecutivo = calcular_combinacoes_com_par_consecutivo(total_numeros, numeros_escolhidos)
    combinacoes_total = calcular_combinacoes_total(total_numeros, numeros_escolhidos)
    probabilidade_consecutivos = combinacoes_com_par_consecutivo / combinacoes_total
    return probabilidade_consecutivos
  
total_numeros_mega_sena = 60
numeros_escolhidos_mega_sena = 6
  
# 1. Quantos pares de números consecutivos existem entre 1 e 60?
pares_consecutivos = calcular_pares_consecutivos(total_numeros_mega_sena)
print(f"1. Quantidade de pares consecutivos entre 1 e 60: {pares_consecutivos}")
  
# 2. Quantas combinações de sorteios de 6 números existem entre 1 e 60?
combinacoes_total = calcular_combinacoes_total(total_numeros_mega_sena, numeros_escolhidos_mega_sena)
print(f"2. Número total de combinações: {combinacoes_total}")
  
# 3. Quantas combinações desses sorteios possuem pelo menos um par de números consecutivos?
combinacoes_com_par_consecutivo = calcular_combinacoes_com_par_consecutivo(total_numeros_mega_sena, numeros_escolhidos_mega_sena)
print(f"3. Número de combinações com pelo menos um par consecutivo: {combinacoes_com_par_consecutivo}")
  
# 4. Subtrair o resultado do item 3 do número total de combinações e calcular a probabilidade.
probabilidade = calcular_probabilidade_consecutivos(total_numeros_mega_sena, numeros_escolhidos_mega_sena)
print(f"4. A probabilidade de ter pelo menos um par de números consecutivos na Mega Sena é aproximadamente: {probabilidade * 100:.6f}%")

1. Quantidade de pares consecutivos entre 1 e 60: 59
2. Número total de combinações: 50063860
3. Número de combinações com pelo menos um par consecutivo: 21074185
4. A probabilidade de ter pelo menos um par de números consecutivos na Mega Sena é aproximadamente: 42.094607%